ul {
  list-style: none;
  padding: none;
  margin: none;
}
.comments-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.comments-table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  font-size: 1rem;
  min-width: 320px;
  overflow-x: auto;
  max-width: 1350px;
  margin: 15px;
}
.comments-table th,
.comments-table td {
  border-bottom: 1px solid #ddd;
  text-align: left;
  vertical-align: top;
}

.comments-table td {
  padding: 15px;
}

.comments-table thead {
  width: 100%;
  background-color: rgb(198, 196, 196);
}
.comments-table th {
  padding: 16px 15px;
  white-space: nowrap;
  font-weight: bold;
}

.comment-body {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
  .comments-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

.pagination-handler {
  width: 100%;
  max-width: 1350px;
  text-align: right;
}

.filter-wrapper {
  width: 100%;
  max-width: 1350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 576px) {
  .filter-wrapper {
    display: flex;
    flex-direction: row;
  }
}

.filter-by-category-wrapper {
  display: flex;
  gap: 15px;
}
.filter-by-search-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  width: 300px;
  border: 2px solid ghostwhite;

  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.filter-by-search-wrapper input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding: 4px;
  font-size: 15px;
}

.no-comments-found {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 18px;
  color: #777;
  max-width: 1350px;
}
