.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.greeting-text {
  margin-top: 10px;
  font-size: 20px;
}

.dashboard-button {
  margin-top: 20px;
  border: none;
  background-color: #06923e;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.dashboard-button:hover {
  background-color: green;
}
